.teamSectionWithBackground {
  padding: 4rem 0 8rem;
  /* background: url('/img/background.jpg') no-repeat center center; */
  /* background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%); */
  /* background-color: #f0f0f0; */
  background-color: var(--ifm-background-surface-color);
  background-size: cover;
  transition: background-color 0.3s ease;
}

.teamImg {
  width: 174px;
  height: 232px;
  border-radius: 50%;
}

.text--center {
  text-align: center;
}

.padding-horiz--md {
  padding-left: 16px;
  padding-right: 16px;
}

.customTitle {
  text-align: center;
  margin-bottom: 40px;
}

.subtitle {
  font-size: 1rem;
  font-weight: bold;
  color: var(--ifm-heading-color);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.mainTitle {
  font-size: 2rem;
  font-weight: bold;
  color: var(--ifm-heading-color);
  margin-bottom: 10px;
}

.description {
  font-size: 1rem;
  color: var(--ifm-color-emphasis-500);
  line-height: 1.5;
}

.row {
  margin-top: 2rem;
}

.secondRow {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.secondRow > div {
  width: 33.333%;
}
